.generos-input-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 1rem;
    background-color: var(--cor-primaria);
    border-radius: 8px;
    padding: 1rem;
}

.generos-input-container form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.generos-input-container button {
    padding: 0.5rem;
    background-color: var(--cor-secundaria);
    color: #fff;
    font-size: 1rem;
    width: 100%;
}   