.message.generos-input {
    padding: 0.8rem 1rem;
    width:40%;
    font-size: 1rem;
    line-height: 1.4;
    word-wrap: break-word;
    text-align: center;
}

.react-select-container {
    width: 100%;
    color : black;
}

.message.generos-input button {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}   

.message.generos-input button:disabled {
    background-color: grey;
    cursor: not-allowed;
}