.generos-input-container {
    padding: 0.8rem 1rem;
    border-radius: 18px;
    width:40%;
    max-width: 65%;
    font-size: 1rem;
    line-height: 1.4;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.2s ease-in;
    background: var(--cor-secundaria);
    color: #fff;
    align-self: flex-start;
    border-bottom-left-radius: 4px;
}

.react-select-container {
    width: 100%;
    color : black;
    text-align: center;
}

.generos-input-container button {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}   

.generos-input-container button:disabled {
    background-color: grey;
    cursor: not-allowed;
}