.message.bot.loading {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.spinner {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 3px solid var(--cor-borda);
  border-top: 3px solid var(--cor-primaria);
  animation: spin 0.8s linear infinite;
  margin: 0 auto;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
