main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: large;
}


.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    
    gap: 20px;
    padding: 20px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

p {
    margin-top: 20px;
    text-align: center;
    font-weight: 800;
}

button {
    margin: 10px auto;
    display: block;
}
