.navbar {
  background-color: var(--cor-secundaria);
  color: white;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--cor-primaria);
}

.navbar .icon{
    color: white;
    font-size: 1.5rem;
  }

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
