.playlist-container {
    padding: 0.8rem 1rem;
    border-radius: 18px;
    width: 40%;
    font-size: 1rem;
    line-height: 1.4;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.2s ease-in;
    background: var(--cor-balao);
    color: var(--cor-texto);
    align-self: flex-start;
    border-bottom-left-radius: 4px;
    /* overflow-y: auto;
    max-height: 700px; */
}

.playlist-container h2{
    text-align: center;
}