.message.playlist{
    width: 40%;
    font-size: 1rem;
    /* overflow-y: auto;
    max-height: 700px; */
}

.message.playlist h2{
    text-align: center;
    margin-bottom: 10px;
}

.message.playlist button {
    padding: 1rem;
}

.message.playlist button:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

