
:root {
  --cor-fundo: #F9FAFB;              /* branco azulado bem claro, para áreas neutras */
  --cor-fundo-secundario: #A5B4FC;   /* lavanda suave que combina com o roxo do fundo */
  --cor-texto: #0F172A;              /* quase preto azulado, mais moderno e legível */
  --cor-borda: #CBD5E1;              /* cinza frio e suave */
  --cor-primaria: #3B82F6;           /* azul vibrante principal (já perfeito) */
  --cor-secundaria: #6366F1;         /* roxo-azulado que casa com o gradiente */
  --cor-destaque: #1E3A8A;           /* azul profundo para elementos de foco ou hover */
  --cor-balao: #F1F5FF;;



  font-family: 'Inter', 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--cor-texto);
  text-decoration: inherit;
}
a:hover {
  color: var(--cor-primaria);
}

body {
  margin: 0;

  min-height: 100vh;
  background: linear-gradient(135deg, #7C3AED 0%, #3B82F6 100%);
  background-attachment: fixed;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color : var(--cor-fundo);
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--cor-destaque);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--cor-secundaria);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: white;
  border: 1px solid var(--cor-borda);
  color: var(--cor-texto );
  padding: 0.5em 0.75em;
  font-size: large;
  font-weight: 600;
  border-radius: 4px;
}


@media (max-width: 768px) {
  body {
    flex-direction: column;
    align-items: stretch;
  }
  h1 {
    font-size: 2.5em;
  }
  button {
    width: 100%;
  }
}
